.list-search {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1196px;
  height: 76px;
  border-radius: 4px 4px 0px 0px;
  opacity: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 13px;
  gap: 8px;
  align-self: stretch;
  background: var(--grayFF);
  border: 1px solid var(--grayEE);
}
.list-search .select {
  position: static;
  left: 13px;
  top: 16px;
  width: 102px;
  height: 44px;
  border-radius: 4px;
  opacity: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11px;
  gap: 8px;
  background: var(--grayF5);
  z-index: 0;
}
.list-search .input {
  position: static;
  left: 123px;
  top: 16px;
  width: 1060px;
  height: 44px;
  border-radius: 4px;
  opacity: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 8px;
  gap: 8px;
  flex-grow: 1;
  align-self: stretch;
  background: var(--grayF5);
  z-index: 1;
}
.institution-type {
  position: absolute;
  left: 0px;
  top: 76px;
  width: 269px;
  height: 720px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  padding: 0px;
  background: var(--grayFF);
  border: 1px solid var(--grayEE);
}
.institution-type .list {
  left: 19px;
}
.institutions {
  position: absolute;
  left: 269px;
  top: 76px;
  width: 539px;
  height: 720px;
  max-height: 720px;
  overflow-y: auto;
  opacity: 1;
  display: flex;
  flex-direction: column;
  padding: 0px;
  border: 1px solid var(--grayEE);
  background-color: var(--grayFF);
}
.institutions .list {
  left: 19px;
}

.half-list {
  position: absolute;
  left: 269px;
  top: 76px;
  width: 269px;
  height: 720px;
  max-height: 720px;
  overflow-y: auto;
  opacity: 1;
  display: flex;
  flex-direction: column;
  padding: 0px;
  border: 1px solid var(--grayEE);
  background-color: var(--grayFF);
}
.affiliated-list {
  position: absolute;
  left: 538px;
  top: 76px;
  width: 269px;
  height: 720px;
  opacity: 1;

  /* 自动布局 */
  display: flex;
  flex-direction: column;
  padding: 0px;
  border: 1px solid var(--grayEE);
  background-color: var(--grayFF);
}