.header {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 56px;
  opacity: 1;
  background-color: var(--blue0);
  border: 1px solid var(--grayFF);
}
.header .icon {
  position: absolute;
  left: 25px;
  top: 12px;
  opacity: 1;
}
.header .menu {
  position: relative;
  left: 130px;
  top: 0px;
  height: 56px;
  opacity: 1;
  background-color: var(--blue0);
}
.body {
  position: absolute;
  left: 0px;
  top: 80px;
  width: 100%;
  height: 100%;
}
.sider {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 187px;
  height: 100%;
  border-radius: 4px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px;
  background: var(--grayEE);
  border: 1px solid var(--grayEE);
}
.siderMenu {
  position: relative;
  border-right: 0;
  height: 100%;
  background-color: var(--grayEE);
}
.outlet {
  position: absolute;
  left: 223px;
  top: 0px;
  width: 1196px;
  height: 720px;
  border-radius: 0px 0px 4px 4px;
  opacity: 1;
  background-color: var(--grayFF);
  border: 1px solid var(--grayEE) ;
}
